[Unit]
Description=Payment Virtual Account
After=syslog.target

[Service]
User=root
ExecStart=/var/payment-virtualaccount/payment-virtualaccount.jar
SuccessExitStatus=143
Environment=bni.client-id=001
Environment=bni.client-key=ea0c88921fb033387e66ef7d1e82ab83
Environment=bni.server-url=https://apibeta.bni-ecollection.com
Environment=spring.jpa.show-sql=false

[Install]
WantedBy=multi-user.target