<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-if="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Input Pembayaran</title>
</head>
<body>

<section layout:fragment="content" class="tables">
    <div id="daftarDebitur">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4">Input Pembayaran</h3>
                        </div>
                        <div class="card-body">
                            <form class="form-horizontal" th:method="post"  th:action="@{/tagihan/form}" th:object="${pembayaran}">
                                <p th:if="${#fields.hasErrors('all')}" th:errors="*{all}">Invalid Input</p>
                                <input type="hidden" th:field="*{tagihan}">

                                <div class="row form-group">
                                    <label class="col-sm-3 form-control-label">Nomor Tagihan</label>
                                    <div class="col-sm-9">
                                        <input id="nomorTagihan" type="text"
                                               placeholder="Nomor Tagihan"
                                               th:value="${pembayaran.tagihan.nomor}" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label class="col-sm-3 form-control-label">Nama Debitur</label>
                                    <div class="col-sm-9">
                                        <input id="namaDebitur" type="text"
                                               placeholder="Nama Debitur"
                                               th:value="${pembayaran.tagihan.debitur.nama}" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <label class="col-sm-3 form-control-label">Nilai Tagihan</label>
                                    <div class="col-sm-9">
                                        <input id="nilaiTagihan" type="text"
                                               placeholder="Nilai Tagihan"
                                               th:value="${pembayaran.tagihan.nilaiTagihan}" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-9 offset-sm-3">
                                        <input type="submit" value="Bayar" class="btn btn-primary">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>