<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-if="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8">
        <title>Data Pembayaran</title>
    </head>
    <body>
        <section layout:fragment="content" class="tables">
            <div id="daftarPembayaran">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="daily-feeds card">
                                <div class="card-header">
                                    <h3 class="h4">Daftar Pembayaran</h3>
                                </div>

                                <div class="card-body no-padding">
                                    <!-- Start Item-->
                                    <div class="item" th:if="${data == null || data.numberOfElements == null || data.numberOfElements < 1}">
                                        Tidak ada data pembayaran
                                    </div>
                                    <div th:if="${data != null && data.hasContent()}">
                                    <div class="item" th:each="pembayaran, rowStat : ${data.content}">
                                        <div class="feed d-flex justify-content-between">
                                            <div class="feed-body d-flex justify-content-between"><a href="#" class="feed-profile"><i class="fa fa-user fa-3x"></i></a>
                                                <div class="content">
                                                    <h5 th:text="${pembayaran.tagihan.nomor +' | '+ pembayaran.tagihan.debitur.nama}">Frank Williams</h5>
                                                    <span th:text="${'Rp. '+pembayaran.jumlah}">Posted a new blog </span>
                                                    <div class="full-date"><small th:text="${pembayaran.jenisPembayaran + ' | ' + pembayaran.bank.nama}">Today 5:60 pm - 12.06.2014</small></div>
                                                    <div class="full-date">
                                                        <small>Referensi : </small><small th:text="${pembayaran.referensi}">Today 5:60 pm - 12.06.2014</small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="date text-right"><small th:text="${pembayaran.waktuTransaksi}">5min ago</small></div>
                                        </div>
                                    </div>
                                    </div>
                                    <!-- End Item -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>