<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-if="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Input Tagihan</title>
</head>
<body>

<section layout:fragment="content" class="tables">
    <div id="daftarDebitur">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4">Input Tagihan</h3>
                        </div>
                        <div class="card-body">
                            <span th:unless="${tagihan.debitur}" style="color:red">Debitur belum terdaftar</span>

                            <form class="form-horizontal" th:method="post"  th:action="@{/tagihan/form}" th:object="${tagihan}" th:if="${tagihan.debitur}">

                                <input type="hidden" name="debitur" th:value="${tagihan.debitur.id}">

                                <div class="row form-group">
                                    <label class="col-sm-3 form-control-label">Debitur</label>
                                    <div class="col-sm-9">
                                        <input id="debitur" type="text"
                                               placeholder="Debitur"
                                               th:value="${tagihan.debitur.nomorDebitur +' - '+ tagihan.debitur.nama}"
                                               class="form-control" readonly>
                                    </div>
                                </div>

                                <p th:if="${#fields.hasErrors('all')}" th:errors="*{all}">Invalid Input</p>
                                <div th:class="${#fields.hasErrors('jenisTagihan')}? 'row form-group has-danger' : 'row form-group'">
                                    <label class="col-sm-3 form-control-label">Jenis Tagihan</label>
                                    <div class="col-sm-9">
                                        <select name="jenisTagihan" th:class="form-control" th:field="*{jenisTagihan}">
                                            <option value="">... Pilih Jenis Tagihan ...</option>
                                            <option th:each="jenis : ${listJenisTagihan}"
                                                    th:value="${jenis.id}"
                                                    th:text="${jenis.kode + ' - ' + jenis.nama}"></option>
                                        </select>
                                        <small class="invalid-feedback" th:if="${#fields.hasErrors('jenisTagihan')}" th:errors="*{jenisTagihan}">Example help text that remains unchanged.</small>
                                    </div>
                                </div>

                                <p th:if="${#fields.hasErrors('all')}" th:errors="*{all}">Invalid Input</p>
                                <div th:class="${#fields.hasErrors('kodeBiaya')}? 'row form-group has-danger' : 'row form-group'">
                                    <label class="col-sm-3 form-control-label">Kode Biaya</label>
                                    <div class="col-sm-9">
                                        <select name="kodeBiaya" th:class="form-control" th:field="*{kodeBiaya}">
                                            <option value="">... Pilih Kode Biaya ...</option>
                                            <option th:each="kodeBiaya : ${listKodeBiaya}"
                                                    th:value="${kodeBiaya.id}"
                                                    th:text="${kodeBiaya.kode + ' - ' + kodeBiaya.nama}"></option>
                                        </select>
                                        <small class="invalid-feedback" th:if="${#fields.hasErrors('kodeBiaya')}" th:errors="*{kodeBiaya}">Example help text that remains unchanged.</small>
                                    </div>
                                </div>

                                <div th:class="${#fields.hasErrors('nomor')}? 'row form-group has-danger' : 'row form-group'">
                                    <label class="col-sm-3 form-control-label">Nomor Tagihan</label>
                                    <div class="col-sm-9">
                                        <input id="nomor" type="text"
                                               name="nomor"
                                               placeholder="Nomor Tagihan"
                                               th:field="*{nomor}" th:errorclass="form-control-feedback" th:class="form-control" readonly>
                                        <small class="invalid-feedback" th:if="${#fields.hasErrors('nomor')}" th:errors="*{nomor}">Example help text that remains unchanged.</small>
                                    </div>
                                </div>
                                <div th:class="${#fields.hasErrors('nilaiTagihan')}? 'row form-group has-danger' : 'row form-group'">
                                    <label class="col-sm-3 form-control-label">Nilai Tagihan</label>
                                    <div class="col-sm-9">
                                        <input id="nilaiTagihan" type="text" placeholder="Nilai Tagihan"
                                               name="nilaiTagihan"
                                               th:field="*{nilaiTagihan}" th:errorclass="form-control-feedback" th:class="form-control">
                                        <small class="invalid-feedback" th:if="${#fields.hasErrors('nilaiTagihan')}" th:errors="*{nilaiTagihan}">Example help text that remains unchanged.</small>
                                    </div>
                                </div>
                                <div th:class="${#fields.hasErrors('tanggalTagihan')}? 'row form-group has-danger' : 'row form-group'">
                                    <label class="col-sm-3 form-control-label">Tanggal Tagihan</label>
                                    <div class="col-sm-9">
                                        <input id="tanggalTagihan" type="text" placeholder="yyyy-MM-dd"
                                               name="tanggalTagihan" readonly
                                               th:field="*{tanggalTagihan}" th:errorclass="form-control-feedback" th:class="form-control">
                                        <small class="invalid-feedback" th:if="${#fields.hasErrors('tanggalTagihan')}" th:errors="*{tanggalTagihan}">Example help text that remains unchanged.</small>
                                    </div>
                                </div>
                                <div th:class="${#fields.hasErrors('tanggalJatuhTempo')}? 'row form-group has-danger' : 'row form-group'">
                                    <label class="col-sm-3 form-control-label">Tanggal Jatuh Tempo</label>
                                    <div class="col-sm-9">
                                        <input id="tanggalJatuhTempo" type="text" placeholder="yyyy-MM-dd"
                                               name="tanggalJatuhTempo"
                                               th:field="*{tanggalJatuhTempo}" th:errorclass="form-control-feedback" th:class="form-control">
                                        <small class="invalid-feedback" th:if="${#fields.hasErrors('tanggalJatuhTempo')}" th:errors="*{tanggalJatuhTempo}">Example help text that remains unchanged.</small>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-9 offset-sm-3">
                                        <input type="submit" value="Simpan" class="btn btn-primary">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/aplikasi/debitur.js}"></script>
</section>
</body>
</html>