<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-if="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Input Debitur</title>
</head>
<body>

<section layout:fragment="content" class="tables">
    <div id="daftarDebitur">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4">Input Data Debitur</h3>
                        </div>
                        <div class="card-body">
                            <form class="form-horizontal" th:method="post" th:action="@{/api/client/debitur/}" th:object="${debitur}">
                                <input type="hidden" th:field="*{id}">
                                <div>
                                    <label class="col-sm-3 form-control-label">Nomor Debitur</label>
                                    <div class="col-sm-12">
                                        <input type="text" placeholder="Nomor Debitur" name="nomorDebitur" th:field="*{nomorDebitur}" class="form-control">
                                    </div>
                                </div>
                                <div>
                                    <label class="col-sm-3 form-control-label">Nama</label>
                                    <div class="col-sm-12">
                                        <input type="text" name="nama" th:field="*{nama}" placeholder="Nama"  class="form-control">
                                    </div>
                                </div>
                                <div>
                                    <label class="col-sm-3 form-control-label">Email</label>
                                    <div class="col-sm-12">
                                        <input type="email"name="email" th:field="*{email}" placeholder="Email Address"class="form-control">
                                    </div>
                                </div>
                                <div>
                                    <label class="col-sm-3 form-control-label">No HP</label>
                                    <div class="col-sm-12">
                                        <input type="text" name="noHp" th:field="*{noHp}" placeholder="081xxxxx" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-9 offset-sm-3">
                                        <input type="submit" value="Simpan" class="btn btn-primary">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/aplikasi/debitur.js}"></script>
</section>
</body>
</html>