<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-if="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Data Debitur</title>
</head>
<body>

<section layout:fragment="content" class="tables">
    <div id="daftarDebitur">
        <div class="container-fluid">
            <div class="row" sec:authorize="hasAuthority('EDIT_DEBITUR')">
                <div class="col-lg-4">
                    <div class="card">
                        <a th:href="@{/debitur/form}" class="btn btn-lg btn-primary">Tambah Data Debitur</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <div class="card">
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4">Cari Data Debitur</h3>
                        </div>
                        <div class="card-body">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label for="searchDebitur" class="sr-only">Search</label>
                                    <input id="searchDebitur"
                                           v-model="searchDebitur"
                                           @keyup="cariDebitur"
                                           type="text" name="search" placeholder="Nama atau NIM" class="mx-sm-3 form-control form-control">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="card" v-if="sudahDicari">
                        <div class="card-header d-flex align-items-center">
                            <h3 class="h4">Daftar Debitur</h3>
                        </div>
                        <div class="card-body">
                            <div v-if="sudahDicari && dataDebitur != null && dataDebitur.totalElements < 1">
                                {{ this.searchedKeyword }} tidak ditemukan
                            </div>
                            <table class="table table-striped table-hover"  v-if="dataDebitur != null && dataDebitur.numberOfElements > 0">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nomor Debitur</th>
                                    <th>Nama Debitur</th>
                                    <th>Email</th>
                                    <th>No HP</th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(debitur, index) in dataDebitur.content">
                                    <th scope="row">{{ index + 1 }}</th>
                                    <td>{{ debitur.nomorDebitur }}</td>
                                    <td>{{ debitur.nama }}</td>
                                    <td>{{ debitur.email }}</td>
                                    <td>{{ debitur.noHp }}</td>
                                    <td sec:authorize="hasAuthority('EDIT_DEBITUR')">
                                        <button class="btn btn-xs" @click="editDebitur(debitur)">edit</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/aplikasi/debitur.js}"></script>
</section>
</body>
</html>