<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <title>Home Screen</title>
</head>
<body>
    <h1>Home Screen</h1>

    Logged user: <span sec:authentication="name">Bob</span>
    Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>

    <form method="post" th:action="@{/logout}">
        <button type="submit">Logout</button>
    </form>

</body>
</html>